@model List<BL.ItemReadDTO>
@{
    ViewData["Title"] = "Item";
}
<div class="row">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-auto">
        <a class="btn btn-success" href="@Url.Action("Create")">Create New Item</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ItemName</th>
            <th scope="col">Description</th>
            <th scope="col">Catagory</th>
            <th scope="col">CreatedDate</th>
            <th scope="col">UpdatedDate</th>

            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr scope="row">
                <td>@item.ItemName</td>
                <td>@item.Description</td>
                <td>@item.Catagory</td>
                <td>@item.CreatedDate</td>
                <td>@item.UpdatedDate</td>

                <td>
                    <a class="btn btn-info" href="@Url.Action("Update", new { id = item.Id })">Edit</a> |
                    <a class="btn btn-danger" href="#" onclick="openDeleteModal(@item.Id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="deleteModalContainer"></div>

@section Scripts {
    <script>
        function openDeleteModal(id) {
            $.ajax({
                url: '/Item/Delete?id=' + id,
                type: 'GET',
                success: function (response) {
                    $('#deleteModalContainer').html(response);
                    $('#deleteModal').modal('show');
                },
                error: function () {
                    alert('Error occurred while loading delete confirmation modal.');
                }
            });
        }
    </script>
}